@import url('https://fonts.googleapis.com/css?family=Raleway');

main {
  width: 1140px;
}

body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
  overflow-x: hidden;
  padding: 0;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: fixed;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}

.title {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
}

a {
  color: #1C9C94;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  text-align:right;
}

#container {
    width: 300%;
    overflow: hidden;
    -webkit-transition: margin-left 500ms ease-in-out;
    -moz-transition: margin-left 500ms ease-in-out;
    -o-transition: margin-left 500ms ease-in-out;
    -ms-transition: margin-left 500ms ease-in-out;
    transition: margin-left 500ms ease-in-out;
}

.section {
    width: 1140px;
    float: left;
    height: 300px;
}

#featured_1 {background: blue;}
#featured_2 {background: red;}
#featured_3 {background: green;}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;  
}

.card {
  position: relative;
  width: 33.3333%;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
    
