@import url('https://fonts.googleapis.com/css?family=Raleway');

main {
  max-width: 1140px;
}

body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
  overflow-x: hidden;
  padding: 0;
}

header {
  padding: 2em;
  text-align: center;
  background-size: cover;
  height:400px;
  background-image: url("../img/background.jpg");  
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}

.header-title {
  text-align:left;
  padding-left:15%;
  text-transform: uppercase;
  margin: 1em 0;
  font-size: 44px;
  color: whitesmoke; 
}

.header-sub {
  text-align:left;
  padding-left:15%;
  text-transform: uppercase;
  font-size: 30px;
  color: whitesmoke; 
}

.header-links {
  text-align:left;
  padding-left:15%;
  color:whitesmoke;
}

.fab {
  border: 1px solid white;
  border-radius: 30%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fab {
  color: white;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

article {
  padding:0 1em;
}

.about {
  height: 400px;
  width: 80%;
}

a {
  color: #1C9C94;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

/* Add a top navigation */
.topnav {
  overflow: hidden;
  text-align:right;
}

.nav-button{
  margin:1em;
  color:whitesmoke;
  font-family:revert;
}

.nav-button.home{
  padding-right:650px;
  background-image: url("../img/fitzy_logo.png");
}

#container {
    width: 300%;
    overflow: hidden;
    -webkit-transition: margin-left 500ms ease-in-out;
    -moz-transition: margin-left 500ms ease-in-out;
    -o-transition: margin-left 500ms ease-in-out;
    -ms-transition: margin-left 500ms ease-in-out;
    transition: margin-left 500ms ease-in-out;
}

.section {
    width: 33.333%;
    float: left;
    height: 400px;
}

.learn-more {
  text-align:right;
  font-size:20px;
}

#featured_1 {
  background-image: url("../img/bg.jpg");
  text-align:right;
  font-size: 20px;
}
#featured_2 {background: red;}
#featured_3 {background: green;}

.wrapper {
  height: auto;
  max-width: 1140px;
  padding: 0 50px;
}

/* Clear floats after image containers */
.wrapper::after {
  content: "";
  clear: both;
  display: table;
}

.blog-thumbnail-container {
    overflow: hidden;
    margin-bottom: 30px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    text-decoration: none;
}

.card {
  float:left;
  height: 100%; 
  width: 28%;
  position:relative;
  display:flex;
  flex-direction:column;
  padding: 0 20px;
    /* border */
  border-style: solid;
  border-width: 1px;
  border-color: rgba(9, 106, 208, 0.2);
  border-radius: 6px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info-block {
  padding: 0 10px;
}

.text-block {
  border: 1px solid black;
  border-radius: 5px;
  text-align:center;
  font-size: 14px;
  display:inline-block;
  padding: 0 10px;
  font-family:sans-serif;
  margin: 5px 0px 5px 5px;
}

footer {
 padding: 1em 1.5em;
 background: #A7B8BF;
 color: white;
 text-align: right;
}

@media only screen and (max-width: 768px) {
  .course {
    display: block;
  }

  .course .title, .course .descrition {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }

  footer {
    text-align: center;
  }
}


